extends _template.pug

block title
  | Computer Security Rocks!

block content
  div
    div.bg-light-green
      div.mw8-ns.center
        div.ph4.pv4.pv5-ns
          h2.f2.f1-ns.lh-heading.mw6-ns.ma0.pt3.pt6-ns Ever feel “security” is overwhelming?
          h3.f3.f2-ns.pt2 You're not alone.
    
    div.mw8-ns.center.measure.ph4
      p.f3.f2-ns.pv4
        | We’re not here to say it's
        em  easy
        | , but here are some of the best things you can do.

      section.pt4
        h3.f3.f2-ns
          a(href=langUrlForPath("/locking")).black.no-underline Lock your computer!
        div.lh-copy.measure
          p.
            When you’re not in front of your computer, it’s a great idea to “lock”
            it. This ensures nobody can do anything without knowing your password.
          p.
            Most of the other advice you might get can be bypassed easily if an
            attacker can access your computer while it’s unlocked.
          p.
            You should do it even if you step away quickly. In the time it takes
            you to get a drink of water, someone could plug a USB device into your
            computer that runs commands, and you’d have no way to know about it.
          p.f4
            a(href=langUrlForPath("/locking")).black Read more

      section.pt4
        h3.f3.f2-ns
          a(href=langUrlForPath("./passwords")).black.no-underline Use a password manager.
        div.lh-copy.measure
          p.
            Attackers are very good at retrying password from one website to
            another, and many websites are bad at keeping your passwords secret. If
            you use a password manager to create a unique password for every
            website, you’re safer!
          p.
            Password managers are protected with one very important password, and
            can then store the passwords for all of your other websites and
            accounts. Some managers easily let you store that password “vault” in
            different places, like your phone, laptop, and online.
          p.
            It takes a bit of time and practice to get set up, but then it’s nearly
            impossible for online attackers to break into your accounts. They rely
            on victims reusing passwords or making weak ones.
          p.
            Even reusing a password for “unimportant” sites is dangerous, as you
            might have enough information across a few to let someone steal your
            identity!
          p.f4
            a(href=langUrlForPath("./passwords")).black Read more

      section.pt4
        h3.f3.f2-ns
          a(href=langUrlForPath("./2fa")).black.no-underline Set up “Two Factor Authentication”.
        div.lh-copy.measure
          p.
            In case an attacker can steal your password, it’s good practice to
            ensure they’d need a second “factor” to log in: often something they’d 
            have to physically steal.
          p.
            Many websites now offer the ability to turn on extra security by
            requiring you to type in an extra code that expires after a short
            period of time.
          p.
            An attacker can’t reuse this code, even if they see you type it in, as
            they will require a new one in a very short period of time. Generally,
            this means they would need to physically steal your phone to get a new
            code.
          p.
            If you can, enable an “authenticator” or smartphone option, as this
            will let you generate codes without data or reception, and is harder to
            intercept.
          p.f4
            a(href=langUrlForPath("./2fa")).black Read more

      p.f3.f2-ns.pv5.
        It will take some practice, but these three steps will make a major
        difference to your security footprint.

      p.lh-copy.measure
        | And if you’d prefer to improve your security game further, here are 
        a(href="./further").
          further things to do.
